
header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: antiquewhite;
    text-emphasis: bold;
    font-size: x-large;
    background-image: linear-gradient(to right, #BFD8E8 , #22638F);
    margin: 20px;
    padding: 12px;
}

    /* city links on sidenav */
#firstlink {
    margin-top: 25px;
    text-align: center;
}

a {
    text-align: center;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    background-color: #22638F;
    font-size: 80%;
    width: 60%;
    margin: 10px;
    padding: 4px;
    border-radius: 10px;
    text-decoration: none;
  }

  /* rounded divider */
hr.rounded {
    display: block;
    float: left;
    width: 210px;
    border-top: 3px solid #bbb;
    margin-bottom: 20px;
  }


/* flexbox */
  /* includes sidebar & weather dashboard */
.flex {
    display: flex;
}

    /* sidebar + searchbar */
.flex1 {
    flex: 1;
    align-items: flex-start;
}

    /* whole weather container */
.weather-container {
    display: flex;
    flex: 1;
    flex-grow: 2;
    flex-direction: column;
    justify-content: flex-start;

    text-align: center;
    font-size: x-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    background-image: linear-gradient( #22638F, #BFD8E8);
    padding: 15px;
    margin-top: 40px;
    border-radius: 25px;
}

    /* top half of weather container,
        includes 2 additional flex boxes within:
        left- city name & icon, right- temp, wind, humidity, UV */
.flextop {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    /* left side of flextop container,
        includes city name & icon */
.cityicon {
    flex: 1;
}

    /* right side of flextop container,
        includes temp, wind, humidity, and UV data */
.cityweather {
    flex: 1;
}

    /* bottom half of weather container,
        includes 5 day forecast on 5 cards */
.flexbott {
    flex-direction: row;
    justify-content: space-between;
}

.weather {
    font-size: 20px;
    margin: 0;
}

.temp {
    font-size: 20px;
    margin: 0;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    text-align: center;
    padding: 20px;
}